$logo-red : rgb(252, 66, 55);
$logo-orange : rgb(255, 107, 0);
$logo-yellow : rgb(253, 199, 65);
$logo-green : rgb(36, 206, 123);
$logo-blue : rgb(0, 179, 227);
$logo-purple : rgb(218, 56, 180);
$topbar-offset : 82px;

.app {
  text-align: center;
}

.page-wrapper {
  margin-top: $topbar-offset;
  margin-bottom: $topbar-offset;
}
ul.header {
  border-bottom: #b4b7ba solid;
  background-color: #f8f8ff;
  height: 80px;
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  justify: center;
  text-align: center;
  z-index: 500;
}

ul.footer {
  list-style-type: none;
  height: 80px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  bottom: 0;
  background-color: #333;
  width: 100%;
}

li {
  display: block;
  color: rgb(88, 88, 90);
  float: left;
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 29px 27px 29px;
  text-decoration: none;
}

.footer li {
  display: inline;
  color: rgb(88, 88, 90);
  float: left;
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 29px 30px 29px;
  text-decoration: none;
}

.red {
  &:hover{
    background-color: $logo-red;
    color: #f8f8ff;
  }
}

.orange {
  &:hover{
    background-color: $logo-orange;
    color: #f8f8ff;
  }
}

.yellow {
  &:hover{
    background-color: $logo-yellow;
    color: #f8f8ff;
  }
}

.green {
  &:hover{
    background-color: $logo-green
  }
}

.blue {
  &:hover{
    background-color: $logo-blue;
    color: #f8f8ff;
  }
}

.purple {
  &:hover{
    background-color: $logo-purple;
    color: #f8f8ff;
  }
}

.redActive {
  background-color: $logo-red;
  color: #f8f8ff;
}

.orangeActive {
  background-color: $logo-orange;
  color: #f8f8ff;
}

.yellowActive {
  background-color: $logo-yellow;
  color: #f8f8ff;
}

.blueActive {
  background-color: $logo-blue;
  color: #f8f8ff;
}

.greenActive {
    background-color: $logo-green;
    color: #f8f8ff;
}

.purpleActive {
  background-color: $logo-purple;
  color: #f8f8ff;
}

.rainbow-cornell {
  width: 100%;
}

.page-title {
  font-weight: bold;
  font-size: 40px;
}

.footer {
  background-color: rgb(88, 88, 90);
  bottom: 0;
  height: 80px;
}

a {
  all: revert;
  &:hover{
    cursor: pointer;
  }
}

 .footer-image {
  height: 60px;
  width: 60px;
  margin: -18px 28px 20px 28px;
}

 .footer-image-first {
  height: 60px;
  width: 60px;
  margin: -18px 28px 20px 500px;
}

 .email-image {
  height: 60px;
  width: 60px;
  margin: -18px 28px 18px 28px;
}

 .page-contents::before {
   content: '\A\A\A';
   white-space: pre;
 }

.description-wrapper::before {
  content: '\A';
  white-space: pre;
}

.description-wrapper {
  align-content: center;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  position: relative;
}

.suborg-description-wrapper {
  align-content: left;
  display: flex;
  margin-left: 280px;
  margin-bottom: 50px;
  justify-content: left;
  position: relative;
}

.description-wrapper img {
  height: 200px;
  width: 200px;
}

.name {

  &::before {
    content: '\A';
    white-space: pre;
  }
  font-weight: bold;
}

.suborg-name {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.suborg-metadata {
  min-width:200px;
  width:200px;
  max-width:200px;
  display: inline-block;
}

.major-year {
  &::before {
    content: '\A';
    white-space: pre;
  }
}

.net-id {
  &::before {
    content: '\A';
    white-space: pre;
  }
}

.email {
  &::before {
    content: '\A';
    white-space: pre;
  }
}

.orgsync {
  &::before {
    content: '\A';
    white-space: pre;
  }
}

.position {
  &::before {
    content: '\A';
    white-space: pre;
  }
  font-weight: bold;
  text-transform: uppercase;
}

.blurb {
  float: left;
  margin-left: 40px;
  width: 40%;
  //margin-right: 220px;
  text-align: left;
}

.net-id a {
  text-decoration: none;
  color: deepskyblue;

  &:hover {
    text-decoration: underline;
  }
}

.email a {
  text-decoration: none;
  color: deepskyblue;

  &:hover {
    text-decoration: underline;
  }
}

.orgsync a {
  text-decoration: none;
  color: deepskyblue;

  &:hover {
    text-decoration: underline;
  }
}

.board-image {
  display: inline-block;
}

h2 {
  display: block;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.listserv-link {
  width: 100%;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: deepskyblue;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: none;
    color: deepskyblue;
  }

  &::after {
    content: '\A\A';
    white-space: pre;
  }
}

.page-contents a {
  text-decoration: none;
  color: deepskyblue;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: none;
    color: deepskyblue;
  }
}

.calendar {
  width: 600px;
  height: 450px;
}

.contact-info {
  font-size: larger;
}
