@import 'constants.scss';

.Header {
  border-bottom: #b4b7ba solid;
  background-color: #f8f8ff;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

.Header-logo {
    display: block !important;
    float: left;
    margin-left: 250px;
  margin-right: 30px;
    height: 80px;
  width: 80px;
}

.Header-options-red {
    color: #66859e;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 80px;
    position: relative;
  text-transform: uppercase;

  &:hover {
    background-color: $logo-red;
  }
}

.Header-options-orange {
  color: #66859e;
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
    margin-left: 80px;
    position: relative;
  text-transform: uppercase;
}

.Header-options-yellow {
  color: #66859e;
    float: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
    margin-left: 80px;
    position: relative;
  text-transform: uppercase;
}

.Header-options-green {
  color: #66859e;
    float: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
    margin-left: 8px;
    position: relative;
  text-transform: uppercase;
}

.Header-options-blue {
  color: #66859e;
    float: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
    margin-left: 80px;
    position: relative;
  text-transform: uppercase;
}

.button-red {
    background-color: $logo-red;
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}

.button-orange {
    background-color: $logo-orange;
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}

.button-yellow {
    background-color: $logo-yellow;
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}

.button-green {
    background-color: $logo-green;
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}

.button-blue {
    background-color: $logo-blue;
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}